svg #ring, svg #logsbg {
    fill: #eeeeee;
}

svg #rect, svg #logsbg {
    fill: #eeeeee;
}

svg .server {
}

svg .server path {
    fill: none;
    stroke: black;
}

svg .server.follower path {
    stroke: #666666;
}

svg .server text {
    text-anchor: middle;
    dominant-baseline: central;
    text-align: center;
}

svg .server.leader text.serverid {
    fill: red;
}